/* CSS design */
body,h1,h2,h3,h4,h5 {font-family: 'Prompt';}
body {font-size:16px;}
.menu-header{font-size:150%; border-bottom: 1px solid rgb(255, 255, 255);}
.bar-block{font-size:140%;margin-top:30px;}
.sub-titles{font-size: 45px; margin-top: 40px;}
.main-title{font-size: 55px; border-radius: 5px; background: #008000a8; color: white; margin-bottom: 25px; text-align: center;}
/* images in index */
.img1{width: 60%; height: 80%;} .img2{width: 60%; height: 80%;} .img3{width: 60%; height: 80%;}


/* CSS design for SCP-002 */
body,h1,h2,h3,h4,h5 {font-family: 'Prompt';}
.code{ border-radius: 5px; background: #008000a8; color: white;}
/* images in linked pages */
.img002{width: 80%; height: 30%; margin-left: 10%;} .img004{width: 60%; margin-left: 20%} .img005{width: 60%; height: 30%; margin-left: 20%;}